<!-- Navbar for SpeedCubes Store using TailwindCSS and Jinja -->
<nav class="w-full flex items-center justify-between px-6 py-4 bg-white shadow">
    <!-- Left Brand -->
    <a href="/" class="text-4xl font-bold transition-transform duration-200 hover:scale-110 hover:text-blue-300">
        <img src="/static/images/logo of rubiks store.png" alt="Logo" class="h-14 w-30 object-contain inline-block">
        SpeedCubes
    </a>
    <!-- Right Options -->
    <div class="flex items-center space-x-6">
        <a href="/browse" class="relative group text-lg font-medium hover:text-blue-300">
            Cubes
            <span
                class="absolute left-1/2 -bottom-1 w-0 h-0.5 bg-black transition-all duration-300 group-hover:w-full group-hover:left-0"></span>
        </a>

        <a href="/contact" class="relative group text-lg font-medium hover:text-blue-300">
            Contact
            <span
                class="absolute left-1/2 -bottom-1 w-0 h-0.5 bg-black transition-all duration-300 group-hover:w-full group-hover:left-0"></span>
        </a>
        <!-- Cart Icon -->
        {% if current_user.is_authenticated %}
        <a href="/cart" class="relative group">
            <img src="/static/images/cart icon.jpg" alt="Cart" class="w-7 h-7 hover:text-blue-300">
            <span
                class="absolute left-1/2 -bottom-1 w-0 h-0.5 bg-black transition-all duration-300 group-hover:w-full group-hover:left-0"></span>
        </a>
        <div>
            <a href="/orders" class="relative group text-lg font-medium hover:text-blue-300">My orders<span
                    class="absolute left-1/2 -bottom-1 w-0 h-0.5 bg-black transition-all duration-300 group-hover:w-full group-hover:left-0"></span></a>
        </div>
        {% endif %}


        {% if not current_user.is_authenticated%}
        <a href="/login"></a>
        {%else%}
        <div>
            Hi, {{current_user.name}}
        </div>
        {% endif%}
        <!-- Profile Dropdown -->
        <div class="relative group ml-6">
            <!-- Profile Icon -->
            <img src="/static/images/profile-icon.jpg" alt="profile icon"
                class="w-8 h-8 rounded-full cursor-pointer border">

            <!-- Dropdown -->
            <div class="absolute right-0 mt-2 w-36 bg-white shadow-lg rounded-lg 
                opacity-0 invisible group-hover:opacity-100 group-hover:visible 
                transition-all duration-200">
                {% if not current_user.is_authenticated%}
                <a href="/login" class="block px-4 py-2 hover:bg-gray-100">Login</a>
                <a href="/register" class="block px-4 py-2 hover:bg-gray-100">
                    Sign Up
                </a>
                {%else%}
                <div>
                    <a href="/logout" class="block px-4 py-2 hover:bg-gray-100">Logout</a>
                </div>
                {% endif%}
            </div>
        </div>

    </div>
</nav>